
/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #353430;
  --secondary-title-color: #353430;
  --big-title:#FFC2E6;
  --shadow-big-title: #FF8DCB;
  --background-title: #FF8DCB;
  --text-color: #353430;
  --action-display-lamp: none;
  --opacity-outline: #32312D66;

}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --header-background: url(../images/cover-image-light.png);
  --theme-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #353430;
    --secondary-title-color: #353430;
    --big-title:#FFC2E6;
    --shadow-big-title: #FF8DCB;
    --background-title: #FF8DCB;
    --text-color: #353430;
    --action-display-lamp: none;
    --opacity-outline: #32312D66;
    --header-background: url(../images/cover-image-light.png);
    --theme-color: #fff1f7;
  }
} 
