* {
  font-family: "IBM Plex mono", monospace;
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
}

.page {
  background-image: var(--header-background);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--theme-color);
}

.decorated__lamp {
  color: var(--title-color);
  line-height: 25px;
  position: absolute;
  justify-self: end;
  margin-right: 9px;
  display: var(--action-display-lamp);
  align-items: center;
  gap: 10px;
  inset-block-start: 2.6vw;
  inset-inline-end: 2.6vw;
}

.decorated__lamp::after {
  content: "";
  display: inline-flex;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--title-color);
  box-shadow: 0 0 4px 2px;
}

.header__theme-menu {
  justify-self: end;
  margin-top: 18vw;
  block-size: fit-content;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
}

.header__theme-menu-button {
  color: var(--title-color);
  background-color: transparent;
  border: none;
  line-height: 18px;
  text-transform: lowercase;
  padding-inline: 13px;
  padding-block-start: 1.5px;
  padding-block-end: 3px;
}

.header,
.footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  padding-block: 2.6vw;
  padding-inline: 2.6vw;
}

.header {
  grid-template-rows: repeat(3 , 1fr);
}

.decorated-zone::before {
  content: "";
  justify-self: end;
  align-self: start;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--title-color);
  border-width: 1px 1px 0 0;
  position: absolute;
  inset-block-start: 2.6vw;
  inset-inline-end: 2.6vw;
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--title-color);
  border-width: 0 0 1px 1px;
  align-self: end;
  justify-self: start;
  position: absolute;
  inset-block-end: 2.6vw;
  inset-inline-start: 2.6vw;
}

.big__title {
  font-size: 116px;
  line-height: 83%;
  font-weight: bold;
  color: var(--big-title);
  text-shadow: 4px 4px 0 var(--shadow-big-title);
  block-size: fit-content;
}

.header__title {
  align-self: center;
}

.header__comment {
  color: var(--secondary-title-color);
  background-color: var(--background-title);
  font-weight: bold;
  inline-size: fit-content;
  block-size: fit-content;
  margin-block-start: 44px;
  justify-self: end;
}

.main {
  margin-block-start: 40px;
  display: grid;
  gap: 40px;
  padding-inline: 2.6vw;
}

.content__section {
  margin-block-start: 5px;
  display: grid;
  gap: 20px;
  justify-content: center;
}

.container__block {
  margin-block-start: 6px;
}

.container__title {
  color: var(--title-color);
  font-weight: bold;
}

.container__lists-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item__title {
  color: var(--secondary-title-color);
  background-color: var(--background-title);
  font-weight: bold;
}

.item__comment {
  color: var(--text-color);
}

.item__title-mini {
  color: var(--secondary-title-color);
  background-color: var(--background-title);
}

.link {
  color: currentColor;
  text-shadow: 2px 2px 0 var(--background-title);
  text-decoration: none;
}

.container__gallery {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.container__gallery-title {
  color: var(--secondary-title-color);
  background-color: var(--background-title);
  font-weight: bold;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-block-start: 40px;
  align-items: center;
  justify-content: center;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.link:hover {
  border-bottom: 1.5px solid currentColor;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1.5px solid currentColor ;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--opacity-outline);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

@media (min-width: 768px) {

  .decorated__lamp {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__theme-menu {
    margin-top: 22.3vw;
  }

  .header,
  .footer {
    padding-block: 20px;
    padding-inline: 20px;
    min-block-size: 1024px;
  }

  .big__title {
    font-size: 120px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__comment {
    inline-size: 364px;
    margin-block-start: 48px;
  }

  .main {
    margin-block-start: 54px;
    padding-inline: 20px;
    justify-content: center;
  }

  .container__adaptive {
    margin-block-start: 38px;
  }

  .container__title-adaptive {
    inline-size: 236px;
  }

  .container__block {
    grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
  }

  .container__block:has(.item__title-mini) {
    margin-block-start: 41px;
  }

  .container__block .container__title {
    grid-column: 1;
  }

  .container__block .list__item {
    grid-column: 2 / 3;
  }

  .container__gallery {
    margin-block-start: 38px;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    margin-block-start: 60px;
    min-block-size: 1024px;
  }
}
@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: 0;
    grid-row: 1;
  }

  .header__theme-menu-list {
    display: inline-flex;
  }

  .big__title {
    font-size: 157px;
  }

  .header__comment {
    inline-size: 491px;
    margin-block-start: 58px;
  }

  .container__adaptive {
    margin-block-start: 40px;
    justify-content: center;
    grid-template-columns: repeat(3, 315px);
  }

  .container__title-adaptive {
    inline-size: 315px;
    grid-column: span 3;
  }

  .footer {
    min-block-size: 768px;
  }
}
